<form [formGroup]='form' (ngSubmit)='onSubmit(form, $event)'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>注册</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class='full-width'>
          <input matInput type="text" placeholder="请输入邮箱" formControlName='email'>
        </mat-form-field>
        <mat-form-field class='full-width'>
          <input matInput type="text" placeholder="请输入用户名" formControlName='name'>
        </mat-form-field>
        <mat-form-field class='full-width'>
          <input matInput type="password" placeholder="您的密码" formControlName='password'>
        </mat-form-field>
        <mat-form-field class='full-width'>
          <input matInput type="password" placeholder="请再次输入密码" formControlName='repeat'>
        </mat-form-field>
        <button mat-raised-button type="submit" color='accent'>注册</button>
        <app-image-list-select 
        [items]='avatarItems' 
        [cols]="6"
        [useSvgIcon]='true'
        formControlName='avatar'>
        </app-image-list-select>
      </mat-card-content>
      <mat-card-actions class='text-right'>
        <p>已有账号？<a routerLink='/login'>登录</a></p>
        <p>忘记密码？<a href="">找回</a></p>
      </mat-card-actions>
    </mat-card>
  </form>