<div class="task-lists">
 <app-task-list 
  class='list-container' 
  *ngFor="let list of lists" 
  app-droppable 
  [dragEnterClass]="'dragArea'">
  <app-quick-task (onQuickCreateTask)='onQuickCreate($event)'></app-quick-task>
   <app-task-header 
   [header] = 'list.name' 
   (newTask)="openNewTaskDialog()"
   (moveTask)="openCopyTaskDialog()"
   (updateTaskList)="onTaskListUpdateClick()"
   (deleteTaskList)="onTaskListDeleteClick()"></app-task-header>
   <app-task-item 
    *ngFor="let task of list.task"
    (editTask) = 'onEditTaskClick($event)'
    [task]="task">
   </app-task-item>
 </app-task-list>
</div>

<button class='fab-button' mat-fab type='button' (click)="onEditTaskListClick()">
    <mat-icon>add</mat-icon>
</button>

