<form action="">
  <h3>移动本列表所有任务</h3>
  <div mat-dialog-content>
    <mat-form-field class='full-width'>
      <mat-select placeholder="选择项目">
        <mat-option *ngFor="let list of lists" [value]="list.name">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type='button' color='primary'>保存</button>
    <button mat-button mat-dialog-close type='button' (click)='onClosed()'>关闭</button>
  </div>
</form>