<div>
  <span>{{title}}</span>
  <mat-icon *nfIf='useSvgIcon else imgSelect' [svgIcon]='selected' class='avatar'></mat-icon>
  <ng-template #imgSelect>
    <img [src]="selected" alt="image selected" class='cover'>
  </ng-template>
  
</div>
<div class='scroll-container'>
  <mat-grid-list [cols]="cols" [rowHeight]='rowHeight'>
    <mat-grid-tile *ngFor='let item of items; let i = index'>
      <div class='image-container' (click)='change(i)'>
          <mat-icon *nfIf='useSvgIcon else imgItem' [svgIcon]='item' class='avatar'></mat-icon>
          <ng-template #imgItem>
            <img [src]="item" alt="image selected" class='cover'>
          </ng-template>
          <div class='after'>
            <div class='zoom'>
              <mat-icon>checked</mat-icon>
            </div>
          </div>
      </div>
      <mat-icon [svgIcon]='item'></mat-icon>
    </mat-grid-tile>
  </mat-grid-list>

</div>
