<form [formGroup]='form' (ngSubmit)='onSubmit(form, $event)'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class='full-width'>
        <input matInput type="text" placeholder="您的eamil" formControlName='email'>
        <mat-error>{{form.controls['email'].errors | json}}</mat-error>
      </mat-form-field>
      <mat-form-field class='full-width'>
        <input matInput type="password" placeholder="您的密码" formControlName='password'>
      </mat-form-field>
      <button mat-raised-button type="submit" color='accent' [disabled]='!form.valid'>登录</button>
    </mat-card-content>
    <mat-card-actions class='text-right'>
      <p>还未注册？<a routerLink='/register'>注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>读书和减肥一样重要。</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src='assets/imgs/quote_fallback.jpg' />
    <mat-card-content>
      Lose weight and reading are same important.
    </mat-card-content>
  </mat-card>
</form>